[submodule "Nova/dep/entt"]
	path = Nova/dep/entt
	url = git://github.com/skypjack/entt.git
[submodule "Nova/dep/imgui"]
	path = Nova/dep/imgui
	url = git://github.com/ocornut/imgui.git
	branch = docking
[submodule "Nova/dep/glm"]
	path = Nova/dep/glm
	url = git://github.com/g-truc/glm.git
[submodule "Nova/dep/stblib"]
	path = Nova/dep/stblib
	url = git://github.com/nothings/stb.git
[submodule "Nova/dep/cereal"]
	path = Nova/dep/cereal
	url = git://github.com/USCiLab/cereal.git
