[submodule "Nova\\dep\\entt"]
	path = Nova\\dep\\entt
	url = https://github.com/skypjack/entt.git
[submodule "Nova\\dep\\imgui"]
	path = Nova\\dep\\imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
