[submodule "Nova\\dep\\entt"]
	path = Nova\\dep\\entt
	url = https://github.com/skypjack/entt.git
[submodule "Nova\\dep\\imgui"]
	path = Nova\\dep\\imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Nova\\dep\\glm"]
	path = Nova\\dep\\glm
	url = https://github.com/g-truc/glm.git
[submodule "Nova\\gui\\stb"]
	path = Nova\\gui\\stb
	url = https://github.com/nothings/stb.git
[submodule "Nova\\dep\\stb"]
	path = Nova\\dep\\stb
	url = https://github.com/nothings/stb.git
